body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(243, 218, 222);
}
.container{
    width: 45%;
    height: 45vh;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 12px 12px 20px rgb(244, 234, 236),
                -12px -12px 20px rgb(136, 108, 112);
}
.display #screen{
    width: 97%;
    height: 70px;
    font-size: 35px;
    outline: none;
    border: none;
    text-align: right;
    padding-right: .5rem;
    background-color: rgb(221, 211, 211);
    border-radius: 6px;
    box-shadow: inset 8px 8px 8px rgb(240, 236, 236),
                inset -8px -8px 8px rgb(142, 139, 139);
}
.btns{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.7rem;
    flex-direction: column;
}
.btns .row button{
    width: 80px;
    height: 30px;
    font-size: 16px;
    border: none;
    outline: none;
    margin: 5px;
    border-radius: 4px;
    box-shadow: 5px 5px 5px rgb(228, 221, 222),
                -5px -5px 5px rgb(183, 153, 157);
}
.theme-toggler {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #000;
    transition: color 0.3s ease;
}
body.dark-mode {
    background-color: #000000;
}

body.dark-mode .container {
    background-color: #232323;
    box-shadow: 5px 5px 5px rgba(130, 251, 255, 0.74),
                -5px -5px 5px rgba(255, 147, 237, 0.737);
}

body.dark-mode .display #screen {
    background-color: #4a4747;
    color: #fff;
    box-shadow: inset 8px 8px 8px rgba(239, 162, 254, 0.708),
                inset -8px -8px 8px rgba(130, 235, 254, 0.664);
}

body.dark-mode .btns .row button {
    background-color: #343232;
    color: #fff;
    box-shadow: 5px 5px 5px #444,
                -5px -5px 5px #333;
}

body.dark-mode .theme-toggler {
    color: #fff;
}
body.dark-mode .btns .row button{
    box-shadow: 5px 5px 5px rgba(147, 251, 255, 0.703),
                -5px -5px 5px rgba(245, 151, 252, 0.655);
}